//--------------------------模組載入--------------------------//
@import "reset";
@import "mixin";
@import "grid";

//--------------------------變數--------------------------//
$linkcolor:black;
$font-l:24px;
$font-m:20px;
$font-s:16px;
$font-h1:24px;
$font-h2:20px;
$font-p:16px;
.active{
    border-bottom: 3px solid red;
}
.open{
    display: block;
}
.menu-icon::before{
    content: "";
}

//--------------------------header--------------------------//
#header{
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
    @include mobile767(){
        line-height: 0px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin:0 auto;
        h1{
            a{
                display: block;
                margin-top: 20px;
                img{
                    width: 100%;
                    @include pad(){
                        width: 70%;
                    }
                    @include mobile767(){
                        width: 50%;
                    }
                }
            }
        }
        ul{
            display: flex;
            @include mobile767(){
                display: none;
            }
            li{
                a{
                    display: block;
                    text-decoration: none;
                    padding-right: 25px;
                    font-size: $font-s;
                    font-weight: bold;
                    font-family: 'Noto Sans TC', sans-serif;
                    color: black;
                    &:hover{
                        color: rgb(235, 187, 56);
                    }
                    @include pad(){
                        padding-right: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
        .menushow{
            display: none;
            @include mobile767(){
                right: 0;
                display: block;
                margin-right: 20px;
                line-height: 100px;
            }
            a{
                text-decoration: none;
                @include mobile767(){
                    font-size: $font-m;
                    color: black;
                }
            }
        }
    }
}
//--------------------------首頁視覺大圖--------------------------//
#banner{
    width: 100%;
    img{
        width: 100%;
        @include mobile767(){
        padding-top: 27%;
    }
    }
}
//--------------------------熱銷商品--------------------------//
#product-p{
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin:0 auto;
        margin-top: 40px;
        h2{
            text-align: center;
            font-size: $font-h2;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
        }
        .product-card{
            display: flex;
            li{
                width: 100%;
                padding: 1%;
                a{
                    display: block;
                    img{
                        width: 100%;
                        transform: scale(1);
                        transition: all 1s;
                        overflow: hidden;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
//--------------------------關於我們--------------------------//
#about{
    position: relative;
    // background-color: #f5f5f5;
    background-image: url("../img/bg_wood.jpg");
    .container{
        display: flex;
        max-width: 1140px;
        margin:0 auto;
        margin-top: 40px;
        @include mobile767(){
            flex-direction: column;
        }
        .about-pic{
            width: 100%;
            img{
                position: absolute;
                top:-10%;
                width: 25%;
                @include desktop(){
                    width: 45%;
                    padding-left: 20px;
                }
                @include pad(){
                    width: 41%;
                    padding-left: 10px;
                }
                @include mobile767(){
                    position: static;
                    padding-top: 20px;
                    width: 100%;
                }
            }
        }
        .about-artical{
            padding:5%;
            font-size: $font-p;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
            line-height: 2.5em;
        }
    }
}
//--------------------------甜點專區--------------------------//
#cookie-card{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
        margin:0 auto;
        margin-top: 40px;
        h2{
            font-size: $font-h2;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
        }
        ul{
            display: flex;
            li{
                width: 20%;
                padding:2%;
                a{
                    display: block;
                    img{
                        width: 100%;
                        transition: all 1s;
                        overflow: hidden;
                        &:hover{
                            transform: skew(5deg,5deg);
                        }
                    }
                }
            }
        }
        .more-btn{
            margin-top: 5%;
            background-color: #FFF;
            border:1px solid rgb(235, 187, 56);
            border-radius: 10px;
            width: 10%;
            line-height: 50px;
            text-align: center;
            @include desktop_top(){
                width: 15%;
                line-height: 40px;
            }
            @include pad(){
                width: 15%;
                line-height: 40px;
            }
            @include mobile767(){
                width: 20%;
                line-height: 40px;
            }
            @include mobile480(){
                width: 28%;
                line-height: 35px;
            }
            @include mobile360(){
                width: 30%;
                line-height: 33px;
            }
            @include iphone5(){
                width: 40%;
                line-height: 33px;
            }
            span{
                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                    &:hover{
                        background-color: rgb(250, 197, 52);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
//--------------------------最新消息--------------------------//
#news{
    background-color: #f5f5f5;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
        margin:0 auto;
        margin-top: 40px;
        h2{
            font-size: $font-h2;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
            margin-top: 20px;
        }
        ul{
            display: flex;
            li{
                width: 33.333%;
                padding: 2%;
                a{
                    display: block;
                    img{
                        width: 100%;
                        transform: scale(1);
                        transition: all 1s;
                        overflow: hidden;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        // .more-btn{
        //     margin-top: 2%;
        //     margin-bottom: 2%;
        //     background-color: #FFF;
        //     border:1px solid rgb(235, 187, 56);
        //     border-radius: 18px;
        //     width: 10%;
        //     line-height: 40px;
        //     text-align: center;
        //     @include mobile767(){
        //         width: 45%;
        //     }
        //     span{
        //         a{
        //             display: block;
        //             color: black;
        //             text-decoration: none;
        //             &:hover{
        //                 background-color: rgb(250, 197, 52);
        //                 border-radius: 50px;
        //             }
        //         }
        //     }
        // }
    }
}
//--------------------------門市據點--------------------------//
#store{
    background-color: #fff;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 40px;
        h2{
            font-size: $font-h2;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
            margin-top: 20px;
        }
        section{
            display: flex;
            @include desktop(){
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            @include mobile767(){
                flex-wrap: wrap;
                flex-direction: column;
            }
            .card{
               margin: 15px;
               img{
                   width: 100%;
                   height: 230px;
               }
            }
            .card-text{
                font-size: 14px;
                span{
                    display: block;
                    text-align: center;
                    font-size: $font-s;
                    font-family: 'Noto Sans TC', sans-serif;
                    font-weight: bold;
                }
            }
        }
       
    }
}
//--------------------------footer--------------------------//
#footer{
    background-color: #f5f5f5;
    margin-top: 40px ;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 960px;
        margin:0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        .footer-left{
            ul{
                li{
                    a{
                        display: block;
                        text-decoration: none;
                        color: black;
                        font-size: $font-s;
                        font-family: 'Noto Sans TC', sans-serif;
                        @include mobile767(){
                            font-size: 12px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        .footer-line{
            border-right: 1px solid black;
            height: 50px;
            margin: 0 30px;
        }
        .footer-right{
            ul{
                li{
                    a{
                        display: block;
                        text-decoration: none;
                        color: black;
                        font-size: $font-s;
                        font-family: 'Noto Sans TC', sans-serif;
                        @include mobile767(){
                            font-size: 12px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}