html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.active {
  border-bottom: 3px solid red;
}

.open {
  display: block;
}

.menu-icon::before {
  content: "";
}

#header {
  background-color: #fff;
  height: 100px;
  line-height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media (max-width: 767px) {
  #header {
    line-height: 0px;
  }
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

#header .container h1 a {
  display: block;
  margin-top: 20px;
}

#header .container h1 a img {
  width: 100%;
}

@media (max-width: 768px) {
  #header .container h1 a img {
    width: 70%;
  }
}

@media (max-width: 767px) {
  #header .container h1 a img {
    width: 50%;
  }
}

#header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  #header .container ul {
    display: none;
  }
}

#header .container ul li a {
  display: block;
  text-decoration: none;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
  color: black;
}

#header .container ul li a:hover {
  color: #ebbb38;
}

@media (max-width: 768px) {
  #header .container ul li a {
    padding-right: 20px;
    font-size: 12px;
  }
}

#header .container .menushow {
  display: none;
}

@media (max-width: 767px) {
  #header .container .menushow {
    right: 0;
    display: block;
    margin-right: 20px;
    line-height: 100px;
  }
}

#header .container .menushow a {
  text-decoration: none;
}

@media (max-width: 767px) {
  #header .container .menushow a {
    font-size: 20px;
    color: black;
  }
}

#banner {
  width: 100%;
}

#banner img {
  width: 100%;
}

@media (max-width: 767px) {
  #banner img {
    padding-top: 27%;
  }
}

#product-p .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;
}

#product-p .container h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}

#product-p .container .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-p .container .product-card li {
  width: 100%;
  padding: 1%;
}

#product-p .container .product-card li a {
  display: block;
}

#product-p .container .product-card li a img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

#product-p .container .product-card li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#about {
  position: relative;
  background-image: url("../img/bg_wood.jpg");
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 767px) {
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about .container .about-pic {
  width: 100%;
}

#about .container .about-pic img {
  position: absolute;
  top: -10%;
  width: 25%;
}

@media (max-width: 1280px) {
  #about .container .about-pic img {
    width: 45%;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  #about .container .about-pic img {
    width: 41%;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  #about .container .about-pic img {
    position: static;
    padding-top: 20px;
    width: 100%;
  }
}

#about .container .about-artical {
  padding: 5%;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  line-height: 2.5em;
}

#cookie-card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;
}

#cookie-card .container h2 {
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}

#cookie-card .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cookie-card .container ul li {
  width: 20%;
  padding: 2%;
}

#cookie-card .container ul li a {
  display: block;
}

#cookie-card .container ul li a img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

#cookie-card .container ul li a img:hover {
  -webkit-transform: skew(5deg, 5deg);
          transform: skew(5deg, 5deg);
}

#cookie-card .container .more-btn {
  margin-top: 5%;
  background-color: #FFF;
  border: 1px solid #ebbb38;
  border-radius: 10px;
  width: 10%;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 992px) {
  #cookie-card .container .more-btn {
    width: 15%;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  #cookie-card .container .more-btn {
    width: 15%;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  #cookie-card .container .more-btn {
    width: 20%;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  #cookie-card .container .more-btn {
    width: 28%;
    line-height: 35px;
  }
}

@media (max-width: 360px) {
  #cookie-card .container .more-btn {
    width: 30%;
    line-height: 33px;
  }
}

@media (max-width: 320px) {
  #cookie-card .container .more-btn {
    width: 40%;
    line-height: 33px;
  }
}

#cookie-card .container .more-btn span a {
  display: block;
  color: black;
  text-decoration: none;
}

#cookie-card .container .more-btn span a:hover {
  background-color: #fac534;
  border-radius: 10px;
}

#news {
  background-color: #f5f5f5;
}

#news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;
}

#news .container h2 {
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

#news .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news .container ul li {
  width: 33.333%;
  padding: 2%;
}

#news .container ul li a {
  display: block;
}

#news .container ul li a img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

#news .container ul li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#banner2 {
  max-width: 1140px;
  height: 250px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#store {
  background-color: #fff;
}

#store .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;
}

#store .container h2 {
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

#store .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  #store .container section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  #store .container section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#store .container section .card {
  margin: 15px;
}

#store .container section .card img {
  width: 100%;
  height: 230px;
}

#store .container section .card-text {
  font-size: 14px;
}

#store .container section .card-text span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}

#footer {
  background-color: #f5f5f5;
  margin-top: 40px;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .container .footer-left ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: 767px) {
  #footer .container .footer-left ul li a {
    font-size: 12px;
    white-space: nowrap;
  }
}

#footer .container .footer-line {
  border-right: 1px solid black;
  height: 50px;
  margin: 0 30px;
}

#footer .container .footer-right ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: 767px) {
  #footer .container .footer-right ul li a {
    font-size: 12px;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=index.css.map */